# Auto detect text files and perform LF normalization
* text=auto
#include <stdio.h>

void loopscanf (int a[], int i, int tamanho)
{
    if (i == tamanho)
    {
        return;
    }

    else
    {
        scanf("%d", &a[i]);

        loopscanf (a, i+1, tamanho);

    }
}

int procurar (int a[], int tamanho, int numero, int quantidade)
{
    if (tamanho == -1)
    {
        return quantidade;
    }
   
   else
   {
        if (a[tamanho] == numero)
        {
            quantidade ++;
        }

        procurar(a, tamanho-1, numero, quantidade);


   }
}

int main()
{

    int array[10], quantidade_de_x;

    loopscanf (array, 0, 10);

    scanf("%d", &quantidade_de_x);

    printf("%d\n", procurar(array, 10 , quantidade_de_x, 0));



    return 0;
}